@using ModelTemplate.Models;
@model Appointment

@{
    ViewBag.Title = "Completed";
}

<h2>Congratulation! Your appointment booked successed!</h2>

<p>Your name is: @Model.ClientName</p>

<p>The date of your appointment is: @Model.Date</p>
